body {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

html, body {
 border: 0px;
 margin: 0px;
 padding: 0px;
 }

* {
  box-sizing: border-box;
}

nav{
  background: #75e2e6;
  border-bottom: 5px solid #048eaa;
  height: 75px;
  margin: 0;
  padding: 15px;
}

.iconImg {
  float: left;
  height: 40px;
  width: 40px;
}

nav ul {
  float: right;
  list-style-type: none;
}

nav li {
  display: inline;
  padding: 20px;
  font-weight: bold;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/park.jpg);
  background-size: 100% 100%;
  padding: 20px;
}

h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

span {
  font-weight: 800;
}

.main-doggo {
  border-radius: 50%;
  width: 20%;
}

.puppers {
  border: 5px solid #048eaa;
}


.center-img-header{
  display: block;
  margin-bottom: -48px;
  text-align: center;
}

hr {
  display: none;
}


form {
  left: 33px;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 35%;
}

form p {
  color: #ffffff;
  margin-bottom: -14px;
}

.textbox {
  font-size: 20pt;
  height: 50px;
  margin: 20px 0;
  width: 400px;
}

.doggo-button {
  background-color: #75e2e6;
  border-radius: 2px;
  border: none; 
  font-size: 20px;
  height: 50px;
  width: 400px;
}

section {
  padding: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.col {
  display: inline-block;
  padding: 20px;
  width: 33%;
}

.pupper-paragraph {
  font-weight: 600;
  min-height: 236px;
  padding: 20px;
}

.puppers-header{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 73%;
}



button {
  background-color: #048eaa;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  left: 54px;
  padding: 20px;
  position: relative;
  text-align: center;
  top: -34px;
  width: 285px;
}

footer {
  background-color: #048eaa;
  padding: 30px;
}

footer p {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

footer .footer-icon {
  padding: 20px;
}

footer .f-icon {
  display: block;
  text-align: center;
}

