body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

* {
  box-sizing: border-box;
}

.iconImg {
	background-color: #9A969C;
	height: 188px;
	margin-bottom: -4px;
	padding: 30px 0;
	width: 172px;
}

nav {
	height: 100%;
	min-width: 300px;
	position: fixed;
    z-index: 10;
}

ul{
	list-style-type: none;
    background-color: #9A969C;
    height: 100%;
    left: 0;
    margin-top: -20px;
    margin: 0;
    padding-top: 20px;
    padding: 0;
    top: 0;
    width: 172px;
}

li {
	display: block;
	font-weight: 700;
	padding: 20px;
	width: 100%;
}

header {
	background-color: #3E3544;
	margin-left: 172px;
	position: relative;
}

h1 {
	color: #ffffff;
	font-size: 45px;
	font-weight: 300;
	left: 581px;
	margin-top: 0;
	position: absolute;
	top: 74px;
}

span {
	font-weight: 800;
}


.main-doggo{
	border-radius: 50%;
	border: 8px solid #9A969C;
	margin-left: 52px;
	margin: 20px;
	width: 30%;
}

form {
	bottom: 62px;
	left: 583px;
	position: absolute;
}

form p {
	color: #ffffff;
}

.doggo-button {
	background-color: #9A969C;
	margin: 20px 0;
    border-radius: 2px;
    border: none; 
    font-size: 20px;
    height: 50px;
    width: 494px;
}

.textbox {
	font-size: 35px;
	height: 50px;
	width: 494px;
}

section {
	margin-left: 172px;
}

hr {
	width: 1163px;
}

h2 {
	font-size: 24px;
	margin-left: 72px;
}

.puppers-header {
	border-radius: 50%;
	border: 5px solid #9A969C;
	height: 233px;
	margin: 0 30px;
}

.pupper-paragraph{
    float: right;
    font-size: 22px;
    font-weight: 300;
    margin-right: 141px;
    width: 699px;
}

button {
	background-color: #3E3544;
	border-radius: 4px;
	color: white;
	font-size: 24px;
	left: 781px;
	margin-right: 105px;
	padding: 11px;
	position: relative;
	top: -33px;
	width: 239px;
}

.col {
	padding: 20px;
}

footer {
	background-color: #3E3544;
	margin-left: 172px;
	padding: 20px;
}

footer p {
	color: #ffffff;
	font-size: 26px;
	left: 722px;
	position: relative;
	width: 291px;
}

.f-icon {
	display: inline-block;
	left: 1067px;
	position: relative;
	top: -67px;
	width: 153px;
}

.footer-icon {
	padding: 12px;
}

.tweet {
	padding-right: 0px;
}