body {
	margin: 0;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
}

html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }

* {
  box-sizing: border-box;
}

nav{
  background: #75e2e6;
  padding: 15px;
  margin: 0;
  border-bottom: 5px solid #048eaa;
  height: 75px;
}

.iconImg {
  width: 40px;
  height: 40px;
  float: left;
}

nav ul {
  list-style-type: none;
  float: right;
}

nav li {
	display: inline;
	padding: 20px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/park.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
}

span {
  font-weight: 800;
}

.main-doggo {
  border-radius: 50%;
  width: 20%;
}

.puppers {
  border: 5px solid #048eaa;
}


.center-img-header{
  display: block;
  text-align: center;
  margin-bottom: -48px;
}


form {
  width: 35%;
  padding: 20px;
  margin: auto;
}

form p {
  color: #ffffff;
  margin-bottom: -14px;
}

.textbox {
  height: 50px;
  font-size: 20pt;
  width: 400px;
  margin: 20px 0;
}

.doggo-button {
  background-color: #75e2e6;
  font-size: 20px;
  border: none; 
  border-radius: 2px;
  width: 400px;
  height: 50px;
}

section {
  padding: 20px;
}

h2 {
  text-align: center;
}

.col {
  width: 33%;
  display: inline-block;
  padding: 20px;
}

.pupper-paragraph {
  padding: 20px;
  min-height: 236px;
}

.puppers-header{
  width: 80%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/*.row {
  width: 300px;
  text-align: center;
}*/

/*.col-1 {
  padding
}

.col-2 {
  float: left;
}

.col-3 {
  float: left;
}*/

button {
  background-color: #048eaa;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  width: 285px;
  font-size: 20px;
  border-radius: 5px;
}

footer {
  background-color: #048eaa;
  padding: 30px;
}

footer p {
  text-align: center;
  color: #ffffff;
}

footer .footer-icon {
  padding: 20px;
}

footer .f-icon {
  display: block;
  text-align: center;
}

